@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
  height: 100%;
}
body {
  background: #1f1f1f;
  color: #ccc;
  font-size: 12px;
  height: 100%;

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; 
  padding-bottom: 75px;
}

tbody td:first-child img {
  border: 1px solid #000;
}

a {
  color: #BFA34C;
}

a:hover {
  color: #BFA34C;
}

header {
  padding: 0 0 10px 0;
  margin: 20px 10px 0 0;
  border-bottom: 1px solid #3f4345;
}

footer {
  background: #111;
  height: 50px;
  text-align: center;
  border-top: 1px solid #3f4345;
}

footer p {
  margin:5px 0 0 0;
}

footer .made-by {
  color: #ccc;
}

footer a {
  color: #73bfe6;
}

footer .copyright {
  font-size: 0.9em;
  color: #999;
}

h1 {
  background: url('http://img.finalfantasyxiv.com/lds/pc/global/images/common/ic/ic_dia_blue.png?1486293696') no-repeat left center;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  padding-left: 30px;
  color: #73bfe6;
  text-transform: uppercase;
}

h2 {
  background: url('http://img.finalfantasyxiv.com/lds/pc/global/images/common/ic/ic_dia_silver.png?2') no-repeat left center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding-left: 14px;
  margin: 20px 10px 20px 0;
}

hr {    
  border-top: 1px solid #3c3c3c;
}


/** Notifications **/


[data-notify="container"][class*="alert-success"] {
  outline: 1px solid #1c1c1c;
  border: 1px solid #BFA34C;
  background: #3c3c3c;
  color: #ccc;
}
[data-notify="container"][class*="alert-success"] strong {
  color: #73bfe6;
}
[data-notify="container"] .progress {
  background: #1f1f1f;
  height: 10px;
}
[data-notify="container"] .progress-bar {
  background: #73bfe6;
}

/** TRANSLATION **/

.translation .active,
.translation .active:hover {
  border: 1px solid #BFA34C;
  background: #1c1c1c;
  cursor: default;
}

/** FC Information **/


.fc-info {
  margin: 10px 0 0 0;
  height: 66px;
  background: #404040;
  outline: 1px solid #1c1c1c;
  border: 1px solid #3c3c3c;
}

.entry__freecompany__crest__base {
    position: absolute;
    left: 0;
}

.entry__freecompany__crest__image {
    position: relative;
    width: 64px;
    height: 64px;
    top: 0px;
    left: 0px;
}

.entry__freecompany__crest__image img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

.fc-reload a {
  float: right;
  font-size: 30px;
  vertical-align:middle;
}

.fc-remove a {
  float: right;
  font-size: 30px;
}

.fc-info span {
  vertical-align:middle;
}

.fc-logo {
  float: left;
  margin: 0 20px 0 0;
}

.fc-name {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.fc-server {
  color: #73bfe6;
  margin: 5px 0 0 0;
}

.fc-info:after {
  content: "";
  display: block;
  clear: both;
  
}



.nav-tabs { border: 0;}

.nav-tabs li {
  background: transparent;
}
.nav-tabs li a:hover {
  background: #2E2E2E;
  border: 1px solid #3c3c3c;
  color: #ccc; 
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #2E2E2E;
  border-top: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
  color: #ccc; 
}

.tab-content {
  background: #2E2E2E;
  border: 1px solid #3c3c3c;
  padding: 15px 10px;

}

input.form-control,
select.form-control,
button.btn-default {
  background: #2E2E2E;    
  outline: 1px solid #1c1c1c;
  border: 1px solid #3c3c3c;
  color: #ccc; 
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button.btn-default:hover,
button.btn-default:active,
button.btn-default:focus {
  background: #3c3c3c;    
  border: 1px solid #3c3c3c;
  color: #ccc; 
}

.input-group-addon {
  background: #3c3c3c;
  outline: 1px solid #1c1c1c;
  border: 1px solid #3c3c3c;
  color: #ccc; 
  padding-right: 10px;
}

label.btn,
label.btn.focus {
  background: #3c3c3c;    
  border: 1px solid #3c3c3c;
  color: #ccc;
  outline: 0;
  
}

label.btn:hover {
  color: #BFA34C;
}

label.btn.active,
label.btn.active:focus,
label.btn.active.focus {
  background: #3c3c3c;    
  border-bottom: 1px solid #BFA34C;
  color: #BFA34C;
  outline: none;
}

/** TABLES **/

table {
  background: #2E2E2E;    
  outline: 1px solid #1c1c1c;
  border: 1px solid #3c3c3c;
}
table.table thead th {
  border: 1px solid #3c3c3c;
  background: #333;
}

tr td, tr th{
  text-align: center;
  position: relative;
  border: 1px solid #3c3c3c;
  position: relative;
}

tr td:first-child,
tr th:first-child {
  text-align: left;
}

.classjobs-table th {
  cursor: pointer;
}
.classjobs-table th:first-child {
  cursor: initial;
}

th.sort-asc:after,
th.sort-desc:after {
  position: absolute;
  top: 0;
  left: 0;
}

th.sort-desc:after {
  content: "\25bc";
}
th.sort-asc:after {
  content: "\25b2";
}

.delete-column {
  position: absolute;
  margin: 0;
  top: 0px;
  left: 50%;
  color: #FFF;
  border-radius: 20px;
  border:1px solid #3c3c3c;
  background: #1f1f1f;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 12px;
  padding: 0;
  margin-left: 10px
}
.delete-column:hover {
  background: #000;
  color: #FFF;
}

.got-it {
  margin:6px;
}

.popover {
  width: 500px;
  background: #2E2E2E;    
  border: 1px solid #3c3c3c;
}

.popover {
  width: 500px;
  background: #2E2E2E;    
  
}
.popover.top .arrow:after {
  border-top-color: #3c3c3c;
}
.popover .popover-title {
  background: #2E2E2E;    
  color: #BFA34C;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #3c3c3c;
}

input[data-provide="typeahead"] {
  text-transform:capitalize;
}

.typeahead.dropdown-menu {
  background: #2E2E2E;
  border: 1px solid #3c3c3c;
}
.typeahead .dropdown-item {
  color: #ccc;
}
.typeahead .active .dropdown-item,
.typeahead .active .dropdown-item:hover {
  background: #1f1f1f;
}
.typeahead .dropdown-item strong {
  color: #BFA34C;
}

.classjob-icon {}

.classjob-lvl-0 {
  color: transparent;
}
.classjob-lvl-70 {
  color: #BFA34C;
  font-weight: bold;
}
.ilvl {
  display: block;
  color: #45b2ae;
  background: url('http://img.finalfantasyxiv.com/lds/pc/global/images/character/ic/gear.png?1486293696') no-repeat;
  padding-left: 20px;
  text-align: left;
  margin: auto;
}

/** Character row **/

.table>tbody>tr>td.character-row {
  padding: 0;
}

.character-row .character-name {
  padding: 5px 0 5px 58px;
  
}

.character-row .character-thumbnail {
  float:left;
  width: 53px
}

.character-row .character-actions {
  float:left;
  padding: 5px 0 0 5px;
}

.character-row .character-mounts-list,
.character-row .character-minions-list,
.character-row .character-achievements-list {
  padding: 0 10px 0 0; 
}

.character-row .remove-character {
  
}

.private-achievements .character-name,
.private-achievements .character-thumbnail {
  opacity: 0.2;
}
.private-achievements .glyphicon-info-sign {
  color: #BFA34C;
  font-size: 15px;
  padding-left:5px;
}
.private-achievements td {
  background: #222;
}

/** Item list modal box **/


.items-track-progress-modal .modal-content,
.achievements-track-progress-modal .modal-content {
  background: #1f1f1f;
  border: 1px solid #BFA34C;
}

.items-track-progress-modal .modal-header,
.achievements-track-progress-modal .modal-header {
  border-bottom: 1px solid #BFA34C;
}

.items-track-progress-list,
.achievements-track-progress-list {
  list-style: none;
  display: block;
}

.items-track-progress-list li {
  margin: 2px;
  padding:0;
}

.items-track-progress-list li.owned img {
  border: 2px solid #BFA34C;
  border-radius: 7px;
}
.items-track-progress-list li.missing img {
  border: 2px solid gray;
  border-radius: 7px;
  opacity: 0.3;
}